<div>
  <dl>
    <dt>Your message:</dt>
    <dd><%= @your_message %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>GPT-4's response:</dt>
    <dd><%= @gpt_message %></dd>
  </dl>
</div>

<a href="/message">New message</a>
