<div>
  <dl>
    <dt>Your message:</dt>
    <dd><%= @user_message %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>GPT-4's response:</dt>
    <dd><%= @gpt_response %></dd>
  </dl>
</div>

<a href="/message">Go back</a>
