<h1>Should I take an umbrella?</h1>

<form action="/umbrella_result">
  <label for="umbrella">Where are you located?</label>
  <input id="umbrella" type="text" name="user_loc"placeholder="E.g., Chicago">

  <button>Submit</button>
</form>


